.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ant-layout-footer {
        width: 100%;
        z-index: 10;

        .ant-pro-global-footer {
            margin: 0 0 0;
            position: relative;
        }
    }

    span {
        margin: 5px 0;
    }

    .clustrmaps-map-control {
        position: absolute !important;
        top: 0;
        right: 0;
        height: 57px !important;
        min-height: 57px !important;
    }
}