.protein-info-panel {
    .biology-background, .protein-structure, .general-information {
        width: 100%;
    }

    .biology-background h2, .protein-structure h2, .general-information .ant-descriptions-title {
        border-bottom: 1px solid #e8e8e8;
    }

    .general-information .ant-descriptions-title {
        font-size: 1.5em;
    }

    .biology-background {
        margin-top: 10px;
        text-align: justify;
    }

    .protein-structure {
        overflow-wrap: anywhere;

        .pdb-info {
            width: 100%;
            display: flex;
            justify-content: center;

            .ant-table-wrapper {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}