.knowledge-curation-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: 10px auto;
    background-color: #fff;
}

.knowledge-graph-editor-modal {
    top: 16px !important;

    .ant-modal-content {
        padding: 0px;

        .ant-modal-body {
            padding: 10px 10px;
        }

        .ant-modal-header {
            padding: 10px;
        }
    }

    .ant-modal-close-x {
        width: auto;
        height: auto;
    }
}