.knowledge-graph-editor {
    height: 100%;
    min-width: 500px;
    border: unset;

    .knowledge-graph-table {
        min-width: 800px;

        .ant-tabs-nav {
            display: none;
        }

        .ant-table-body {
            min-height: 180px;
        }
    }

    .knowledge-graph-editor-force-update-btn {
        margin-right: 40px;
    }

    .knowledge-graph-container {
        height: calc(100vh - 100px);
    }
}